.profile-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.welcome {
  margin-left: 99px;
  font-size: 48px;
  text-align: left;
  padding: 3%;
  width: 100%;
}

.welcome h1 {
  margin-top: 0;
  font-size: 48px;
  font-weight: bold;
}

.profile-tickets-container {
  text-align: center;
  width: 60%; /* Adjust width as necessary */
  margin: 20px auto;
}

.profile-ticket-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.profile-ticket-table th,
.profile-ticket-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

 .profile-logout-button {
  background-color: #A2A5EE;
  border: none;
  color: black;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  width: 202px;
  height: 63px;
} 

.profile-delete-button {
  background-color: #A2A5EE;
  border: none;
  color: black;
}
@media screen and (max-width: 768px) {
  .welcome {
    font-size: 5vw;
  }

  .tickets-container {
    width: 90%;
  }
}

.profile-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  padding: 3%;
  font-size: 2vw; 
}

.welcome-message {
  font-size: 3vw; 
  font-weight: bold; 
  text-align: left;
  margin-bottom: 1%; 
}

.profile-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  font-size: 2vw;
}

.welcome-message {
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.profile-container2 p {
  font-size: 2vw;
  text-align: center;
  margin-bottom: 20px;
}

.profile-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.profile-signin-button {
  background-color: #A2A5EE;
  border: none;
  color: black;
  margin-top: 20px;
  padding: 10px 20px;
  width: 202px;
  height: 63px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin-right: 10px;
} 

.profile-signup-button {
  background-color: #A2A5EE;
  border: none;
  color: black;
  margin-top: 20px;
  padding: 10px 20px;
  width: 202px;
  height: 63px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin-right: 10px;
} 

/* button[type="button"]:last-child {
  margin-right: 0;
} */

@media screen and (max-width: 768px) {
  .profile-container2 {
    align-items: center; 
    font-size: 5vw;
  }

  .welcome-message {
    font-size: 6vw;
  }

  .profile-buttons-container {
    flex-direction: row;
    justify-content: space-around;
  }

  /* button[type="button"] {
    margin: 10px 0;
  } */
}
