.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.welcome {
  margin-left: 99px;
  font-size: 48px;
  text-align: left;
  padding: 3%;
  width: 100%;
}

.welcome h1 {
  margin-top: 0;
  font-size: 48px;
  font-weight: bold;
}

.tickets-container {
  text-align: center;
  width: 60%; /* Adjust width as necessary */
  margin: 20px auto;
}

.ticket-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.ticket-table th,
.ticket-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

button[type="button"] {
  background-color: #A2A5EE;
  border: none;
  color: black;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  width: 202px;
  height: 63px;
}

@media screen and (max-width: 768px) {
  .welcome {
    font-size: 5vw;
  }

  .tickets-container {
    width: 90%;
  }
}


/*

  .ticket-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px #888888;
  }
  
  .ticket-info {
    font-size: 16px;
    margin: 5px 0;
  }

  button {
    background-color: #A2A5EE;
    color: black;
    font-size: 24px;
    font-style: bold;
    border: none;
    margin: 10px;
    cursor: pointer;
    width: 202px;
    height: 63px
  }
  button:hover {
    background-color: #A2A5EE;
  }

  */