p { margin: 0; }

.header {
  background-color: #A2A5EE;
  height: 20%;
}

.header-homeicon {
  vertical-align: center;
  width : 2.2%;
  padding-left: 0.1%;
  padding-top : 0.2%;
  display : inline-block;
}

.header-profileicon { 
  vertical-align: center;
  width : 2.2%;
  padding-right: 0.1%;
  padding-top : 0.2%;
  display : inline-block;
}

.header-text {
  text-align: center;
  vertical-align: top;
  padding-top : 0.2%;
  font-size: 1.5vw;
  width : 92%;
  display : inline-block;
}

.drop-down {
  width: 7%;
  height : 5%;
  position: relative;
  left : 90%;
  background-color: white;
  border-style: solid;
  border-color: 1% black;
  text-align: left;
  vertical-align: center;
  font-size: 1.0vw;
}

.drop-down-item {
  padding: 15%;
}

.white-space {
  margin: 6.7%;;
}
