.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.welcome {
    margin: 20px 0;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}
.ticket, .guest {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
}
.profile-actions {
    text-align: center;
    margin-top: 20px;
}
button {
    padding: 10px 20px;
    margin: 0 5px;
}