body {
    font-family: Arial, sans-serif;
}


.eventhead {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)),
              url('img.jpeg'); /* Replace with the path to your background image */
    background-size: cover; /* Cover the entire area of the element */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center;
    padding: 1.5em;
}

.eventhead-text {
    width: 70%;
    margin-left: 8%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    padding-top: 0.5em;
    border-radius: 20px;
    position: relative;
}

.date {
    position: absolute;
    top: 0.5em;
    right: 4em;
}

.eventdescrip {
    padding: 1em;
    width:50%;
    margin-left: 7%;
}

.tickets {
    justify-content: space-around;
    padding: 1em;
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
}

.ticket {
    padding: 1em;
    padding-top: 0;
    display: inline-block;
    width: 18em;
    height: 9em;
    background-color: #EBEFFF;
    position: relative;
    border-radius: 20px;
    margin: 1em;
}

.ticket button {
    background-color: #A2A5EE;
    color: white;
    border: none;
    padding: 0.5em 1em;
    margin-top: 1em;
    cursor: pointer;
    position: absolute;
    bottom: 1em;
    right: 0.5em;
    border-radius: 20px;
}

button:hover {
    background-color: #555;
}
